.body
  %p.body__text
    = message.message
  .body__action
    %a.body__action--show{href: "#"}
      SHOW
    %a.body__action--edit{href: "#"}
      EDIT
    = link_to "DESTROY", message_path(message.id), method: :delete
