.body
  %p.body__text
    = message.message
  .body__action
    = link_to "SHOW", message_path(message.id)
    = link_to "EDIT", edit_message_path(message.id)
    = link_to "DESTROY", message_path(message.id), method: :delete
