<div class="message">
  <p class ="message__text">
    こんにちは
  </p>
  <div class="message__action">
    <a href="#" class="message__action--show">SHOW</a>
    <a href="#" class="message__action--edit">EDIT</a>
    <a href="#" class="message__action--destroy">DESTROY</a>
  </div>
</div>
